body, html{
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	transition: 1s ease all;
}

h1{
	font-size: 36px;
	font-weight: 900;
}

h2{
	font-size: 30px;
	font-weight: 700;
}

h3{
	font-size: 24px;
	font-weight: 700;
}

h4{
	font-weight: 500;
	font-size: 24px;
}


.wrapper{
	width: 1130px;
	margin: 10px auto;
}

.header{
	display: flex;
	align-items: center;
	position: fixed;
	left: 0;	
	top: 0;	
	background: white;
	width: 100%;	
	margin-bottom: 50px;	
	z-index: 10;	
}
.header .emblem{
	display: flex;
	align-items: center;
	box-shadow: none;
	margin-left: 10px;	
}

.emblem h1{
	margin-left: 10px;
}

.emblem img{
	max-width: 90%;
	height: auto;
	display: block;
}

.header .header__menu .header__list ul{
	list-style: none;
	display: inline-block;	
	font-size: 16px;
}

.header__menu h1{
	margin-left: auto;
	font-weight: 100;
	margin: 10px 15px auto auto;
	cursor: pointer;
}

.closer{
	display: none;
}

.header ul li{
	display: inline-block;
	margin-right: 56px;
}

.header ul li a{
	color: black;
	text-decoration: none;
}

.header__burger{
	display: none;
	margin-left: 10px;
	cursor: pointer;
}

.number__phone{
	margin-left: auto;
	font-weight: 900;
}

.first__screen{
	margin-top: 150px;
	display: flex;
}

.first__screen__left{
	width: 470px;
	
}

.first__screen__left {
	width: 400px;
	font-size: 24px;
	margin-top: 10px;
}

.first__screen__left a{
	display: inline-block;
	font-weight: 700;	
	text-decoration: none;
	color:black;
	font-size: 24px;
	background: linear-gradient(to top right, #F3FF68, #EBFF00);
	padding: 15px 25px;
	text-align: center;
	vertical-align: center;
	transition: 1s ease all;
}

.first__screen__left a:hover{
	box-shadow: 0 0 20px #EBFF00;
	padding: 20px 30px;
}

.first__screen__right{
	margin-left: auto;
}

.firsr__screen__right img{
	max-width: 90%;
	height: auto;

}

.why{
	margin-top: 120px;

}

.why h2{
	text-align: center;
}

.advantages{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.advantage{
	margin-top: 50px;
	width: 205px;
	text-align: center;
}

.buildings{
	margin-top: 120px;
}

.buildings h2{
	text-align: center;
}

.homes{
	overflow: hidden;	
}

.homes__track{
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 2s all ease;
	position: relative;
	right: 1453px
}

.home{
	width: 425px;
	margin-right: 326px;
}

.home h3{
	text-align: center;
}

.home img{
	display: block;
	margin: 0 auto;
}

.home p {
	margin: 0;
	margin-bottom: 30px;
	margin-left: 25px; 
}

.home a {
	margin: 0 auto;
	margin-bottom: 45px;
	width: 379px;
	display: block;
	text-align: center;
	text-decoration: none;
	color:black;
	font-size: 24px;
	font-weight: 700;
	background: linear-gradient(to top right, #F3FF68, #EBFF00);
	padding: 10px 11px;
}


.elipses{
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.elipses span{
	height: 25px;	
	width: 25px;	
	background: #AAAAAA;
	border-radius: 25px;
	margin-right: 20px;	
	cursor: pointer;
}

.elipses .elipse__active{
	background: #4F4F4F;
}

.elipses .elipse__active:hover{
	background: #4F4F4F;
}

.elipses span:hover{
		background: #858585;
}

.payment{
	margin-top: 120px;
}

.payment h2{
	text-align: center;
}

.calculator{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.calculator__left .square, .view, .material{
	display: flex;
	align-items: center;
	font-size: 24px;
	margin-bottom: 30px;
}

.calculator__left .square input{
	width: 100px;
	height: 40px;
	margin-right: 10px;
	margin-left: 10px;
}

.calculator__left .view select{
	padding: 10px;
	font-size: 20px;
	margin-left: 10px;
}

.calculator__left .material select{
	padding: 10px;
	font-size: 20px;
	margin-left: 10px;	
}

.calculator__left input:last-child{
	border:none;
	display: inline-block;
	font-weight: 700;	
	text-decoration: none;
	color:black;
	font-size: 24px;
	background: linear-gradient(to top right, #F3FF68, #EBFF00);
	padding: 15px 25px;
	text-align: center;
	vertical-align: center;
	margin-top: auto;
	cursor: pointer;
}

.price{
	font-weight: 900;
    font-size: 24px;
}

.calculator__left .calculator__button:hover{
	box-shadow: 0 0 20px #EBFF00;
	transition: 1s ease all;
}

.calculator__right img{
	max-width: 90%;
	height: auto;
}

.about{
	margin-top: 120px;
}

.about h2{
	text-align: center;
}

.about__we{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 24px;
	line-height: 1.5;
}


.call{
	margin-top: 120px;
}

.call h2{
	text-align: center;
}

.contact{
	height: 700px;
	background: url("img/Как связаться.png") no-repeat center / cover;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact__left{
	margin-right: auto;
	width: 410px;
}

.contact__left__time{
	display: flex;
	align-items: center;
}

.contact__left__time img{
	margin-right: 5px;
}

.contact__left__form{
	background: linear-gradient(to top right, #F3FF68, #EBFF00);
	height: 490px;
	text-align: center;
	font-size: 24px;
}

.contact__left__form p{
	font-weight: 700;
	padding-top: 40px;
	color: white;
	margin-top: 0;
}

.contact__left__form form{
	display: flex;
	flex-direction: column;
	width: 285px;
	margin: 0 auto;
}

.contact__left__form form input{
	height: 57px;
	border: none;
	margin-bottom: 27px;
	font-size: 24px;
	font-weight: 300;
	padding-left: 20px;
}

.contact__left__form form input:last-child{
	padding: 0;
	font-weight: 700;
	height: 76px;
}

.contact__right{
	width: 640px;
}

.contact__right h1, h2{
	text-align: right;
	padding-right: 5px;
	background: white;
	padding-bottom: 5px;
}

.contact__right h1{
	width: 380px;
	margin-left: auto;
}


.footer{
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer ul{
	list-style: none;
}

.footer ul li{
	display: inline-block;
	margin-right: 20px;
}

.footer ul li a{
	color:black;
	text-decoration: none;
}

.footer p{
	margin-left: 35px;
	margin-right: 35px;
}

.emblem__footer{
	display: flex;
	align-items: center;
}

.emblem__footer img{
	margin-right: 10px;
}

@media screen and (max-width: 1170px){
	
	body{
		font-size: 16px;	
	}



	

	.wrapper{
		width: auto;
	}	

	.first__screen__right img{
		object-fit: none;
	}
}

@media screen and (max-width: 1110px){
	h1{
		font-size: 30px;	
	}

	h2{
		font-size: 24px;
	}

	h3{
		font-size: 18px;
	}

	.header ul li{
		margin-right: 20px;
	}

	.footer ul li{
	display: flex;
	margin-bottom: 20px;
}
}

@media screen and (max-width: 1140px){
	.first__screen{
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.first__screen__right{
		margin: 0;
		margin-top: 10px;
	}

	.home{
			margin-right: 490px;
	}

	.elipses{
		display: none;
	}

	.header__burger{
		display: block;
	}

	.calculator{
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}

	.calculator__right{
		margin-top: 10px;
	}

	.about__we{
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.about__we__right{
		margin-top: 10px;
	}

	.closer{
		display: block;
	}

	.header__menu{
		display: flex;
		position: fixed;
		width: 100%;
		top: 100px;
		left: 1500px;
		z-index: 5;
		transition: 1s ease all;
		background: linear-gradient(to top right, #F3FF68, #EBFF00);	
	}
	.header__list ul li{
		display: flex;
		flex-flow: column;
		margin-bottom: 20px;
		font-size: 24px;
		color: white;
	}
}


@media screen and (max-width: 1110px){
	.first__screen__left{
		text-align: center;
	}
}


@media screen and (max-width: 910px){
	
	.burger{
		display: block;
	}


	.contact{
		background: none;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}

	.contact__left{
		margin-right: 0;
	}

	.contact__right{
		text-align: center;
	}

	.contact__right h1{
		width: auto;
		text-align: center;
	}

	.about__we__right img{
		max-width: 90%;
	}
}

@media screen and (max-width: 720px){
	.first__screen__right img{
		width: 100%;
	}
	.emblem h1{
		display: none;
	}

	.footer ul{
		display: none;
	}

	.advantages{
		flex-wrap:wrap;
		justify-content: center;
	}

	.advantage{
		width: 250px;
	}

	.about__we__left h4{
		font-size: 20px;		
	}
}


@media screen and (max-width: 1000px){
	.home{
		margin-right: 473px;
	}
}

@media screen and (max-width: 915px){
	.home{
		margin-right: 449px;
	}
}

@media screen and (max-width: 815px){
	.home{
		margin-right: 421px;
	}
}

@media screen and (max-width: 725px){
	.home{
		margin-right: 395px;
	}
}

@media screen and (max-width: 615px){
	.home{
		margin-right: 370px;
	}
}

@media screen and (max-width: 530px){
	.home{
		margin-right: 354px;
	}
}

@media screen and (max-width: 460px) {
.home {
    margin-right: 342px;
}
}